.BreadComb_Comp {
  margin-top: 15px;

  .current-page__title {
    color: rgba(44, 62, 80, 0.82);
    font-size: 0.9rem;

    a {
      margin-right: 5px;
      color: #14008a;
      text-decoration: none;
    };

    span {
      margin-left: 5px;
    };
  };
};
